<h1>News</h1>


<div class="row">
  <div class="col-sm-3 col-md-3">
    <div class="thumbnail">
      <img src="https://upload.wikimedia.org/wikipedia/commons/4/46/American_Pharoah.jpg" alt="jockey on horse">
      <div class="caption">
        <h3>{{#link-to 'americanPharoah'}}American Pharoah{{/link-to}}</h3>
      </div>
    </div>
  </div>

  <div class="col-sm-3 col-md-3">
    <div class="thumbnail">
      <img src="https://upload.wikimedia.org/wikipedia/commons/4/46/American_Pharoah.jpg" alt="jockey on horse">
      <div class="caption">
        <h3><a href="#">American Pharoah</a></h3>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-3 col-md-3">
    <div class="thumbnail">
      <img src="https://upload.wikimedia.org/wikipedia/commons/4/46/American_Pharoah.jpg" alt="jockey on horse">
      <div class="caption">
        <h3><a href="#">American Pharoah</a></h3>
      </div>
    </div>
  </div>


  <div class="col-sm-3 col-md-3">
    <div class="thumbnail">
      <img src="https://upload.wikimedia.org/wikipedia/commons/4/46/American_Pharoah.jpg" alt="jockey on horse">
      <div class="caption">
        <h3><a href="#">American Pharoah</a></h3>
      </div>
    </div>
  </div>
</div>
